@import '../../sass/conf/conf';

$sidebar-scroll-width: 4px;
$angle-left: '\f100';
$angle-right: '\f101';

@mixin default-sublist() {
  padding: 0;
  list-style: none;
  position: relative;
  display: none;
  &.expanded {
    display: block;
  }
  > ba-menu-item > li {
    display: block;
    float: none;
    padding: 0;
    border-bottom: none;
    position: relative;
    a {
      display: block;
      text-shadow: none;
      font-size: 13px;
      text-decoration: none;
      color: $sidebar-text;
      padding-left: 52px;
      height: auto;
      line-height: 29px;
      opacity: 0.86;
    }
    &.selected > a {
      border: none;
      opacity: 1;
      background: rgba(255, 255, 255, 0.23);
    }
  }
}

:host /deep/ {
  .al-sidebar {
    width: $sidebar-width;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    min-height: 100%;
    height: 100%;
    position: fixed;

    &:after, &:before {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }

    &:before {
      opacity: 0.33;
      background: #000000;
    }

    &:after {
      background: #1f77d0;
      background: -moz-linear-gradient(top, #1f77d0 0%, #533ce1 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f77d0), color-stop(100%, #533ce1));
      background: -webkit-linear-gradient(top, #1f77d0 0%, #533ce1 100%);
      background: -o-linear-gradient(top, #1f77d0 0%, #533ce1 100%);
      background: -ms-linear-gradient(top, #1f77d0 0%, #533ce1 100%);
      background: linear-gradient(to bottom, #1f77d0 0%, #533ce1 100%);
      background-size: 150% 150%;
      opacity: 0.77;
      z-index: 3;
    }
  }

  .al-sidebar-list {
    margin: 0;
    overflow: hidden;
    padding: 18px 0 0 0;
    list-style: none;
    z-index: 4;
  }

  .al-sidebar-sublist .subitem-submenu-list {
    padding-left: 15px;
  }

  .subitem-submenu-link {
    .fa {
      top: 7px;
    }
  }

  .al-sidebar-list-item {
    display: block;
    position: relative;
    float: none;
    padding: 0;

    a.al-sidebar-list-link {
      color: $sidebar-text;
      b {
        color: $sidebar-text;
      }
    }
  }

  .ba-sidebar-item-expanded {
    > ul.al-sidebar-sublist {
      display: block !important;
    }

  }

  .al-sidebar-list-item, .ba-sidebar-sublist-item {
    &.ba-sidebar-item-expanded {
      > .al-sidebar-list-link {
        b {
          transform: rotate(180deg);
        }
      }

      > .al-sidebar-sublist {
        display: block;
      }
    }
  }

  a.al-sidebar-list-link {
    display: block;
    height: 42px;
    padding-left: 18px;
    text-shadow: none;
    font-size: 13px;
    text-decoration: none;
    color: $sidebar-text;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.13);
      opacity: 1;
    }
    i {
      margin-right: 18px;
      width: 16px;
      display: inline-block;
    }
    b {
      display: block;
      opacity: 1;
      width: 14px;
      height: 14px;
      line-height: 14px;
      text-shadow: none;
      font-size: 18px;
      position: absolute;
      right: 10px;
      top: 12px;
      padding: 0;
      text-align: center;
      color: $sidebar-text;
      transition: transform 0.2s linear;
    }
  }

  .slimScrollDiv {
    z-index: 99;
  }

  .slimScrollBar, .slimScrollRail {
    border-radius: 0 !important;
    width: $sidebar-scroll-width !important;
    left: $sidebar-width - $sidebar-scroll-width;
  }

  .al-sidebar-sublist {
    @include default-sublist();
  }

  .sidebar-hover-elem {
    width: $sidebar-scroll-width;
    background: $primary;
    position: absolute;
    top: -150px;
    left: $sidebar-width - $sidebar-scroll-width;
    transition: all 0.5s ease;
    transition-property: top, height;
    height: 42px;
    display: block;
  }

  .sidebar-select-elem {
    display: block;
    top: 94px;
  }

  .menu-collapsed {
    .slimScrollBar, .slimScrollRail {
      display: none !important;
    }
  }

  .sidebar-bgimage {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-image: url('/assets/img/sidebar-bg.jpg');
  }
}
